@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;400;500;600;700;800&family=Jua&family=Ultra&display=swap');

.id_find_container {
}
.id_find_wrap {
    width: 500px;

}
.id_find_tit {
    text-align: center;
    margin-bottom: 50px;
}
.id_find_tit label{
    display: flex;
    align-items: center;
    justify-content: center;
}
.id_find_tit img{
    position: relative;
    left: 0;
    cursor: pointer;
}
.id_find_tit span{
    position: relative;
    font-size: 25px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-right: 70px;
}
.idFind_tit {
    margin: 0 auto;
    text-align: center;
}
.id_find_idPart {
    width: 50%;
    height: 50px;
    display: inline-block;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
    line-height: 50px;
    color: black;
    font-family: "Gothic A1", sans-serif;
    font-weight: 500;
    background-color: white;
}
.id_find_idPart:active {
    background-color: white;
    color: black;
}
.id_find_pwPart {
    height: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    width: 50%;
    display: inline-block;
    cursor: pointer;
    line-height: 50px;
    color: gray;
    font-family: "Gothic A1", sans-serif;
    font-weight: 500;
}
.id_find_idWrap {
    margin: 20px 0 10px 5px;
}
.id_find_radio_txt {
    margin-bottom: 10px;
    font-size: 17px;
}
.id_find_radio_txt label{
    display: flex;
    align-items: center;
}
.id_find_radio_txt input {
    width: 18px;
    height: 18px;
}
.id_find_email {
    margin-left: 3px;
}
.id_find_cert {
    margin-bottom: 10px;
}
.id_find_cert label {
    display: flex;
    align-items: center;
}
.id_find_emailInput {
    width: 70%;
    height: 30px;
    padding: 7px 0 7px 15px;
}
.id_find_emailInput:focus{
    border-color: rgba(0,0,0,0);
    outline: 1px solid rgb(248, 179, 60);
}
.id_find_certBtn {
    display: inline-block;
    width: 20%;
    height: 30px;
    line-height: 30px;
    padding: 10px;
    text-align: center;
    background-color: rgb(248, 179, 60);
    color: white;
    margin-left: 11px;
    border-radius: 5px;
    font-family: "Gothic A1", sans-serif;
    font-weight: 500;
    cursor: pointer;
}
.id_find_certNumber {
    width: 94%;
    height: 30px;
    padding: 10px 10px 10px 15px;
}
.id_find_certNumber:focus {
    border-color: rgba(0,0,0,0);
    outline: 1px solid rgb(248, 179, 60);
}
.id_find_btn {
    width: 95%;
    text-align: center;
    background-color: rgb(248, 179, 60);
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin-left: 5px;
    margin-top: 20px;
}
.id_find_btn_txt {
    color: white;
}