.modal-mask {
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;

}

.modal-wrapper {
    width: 500px;
    height: 600px;
    background-color: white;
    border-radius: 20px;
}
.modal-x {
    text-align: right;
    z-index: 105;
    transform: translate(-30px, 10px);
}
.modal-x span {
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    float: right;
    text-align: right;


}
.modal-container {
    overflow-y: scroll;
    height: 570px;
    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
}

.modal-container::-webkit-scrollbar {
    display: none; /* 크롬, 사파리, 오페라, 엣지 */
}

.modal-header, .modal-footer {
    /* 스타일 설정 */
}
.modal-body {
    margin-top: 50px;
}

/*---------------------------게시판-------------------------*/

.board_image {
    width: 500px;
    height: 180px;
}
.board_image img {
    border-radius: 20px 20px 0 0;
    width: 500px;
    height: 180px;
}
.board_title {
    margin: 20px 0 10px 15px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
}
.board_content {
    width: 85%;
    margin: 15px;
    color: gray;
    font-size: 15px;
}
.board_share {

}
.board_share img{
    cursor: pointer;

}
.board_score label {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.board_score img{
    display: inline;
    width: 30px;
    height: 30px;
}
.board_score span {
    font-size: 20px;
    margin: 0 20px 0 10px;
}
.board_score_left {
    padding-left: 5px;
}
.board_score_right label {
    display: flex;
    align-items: center;
}
.board_address {
    margin: 30px 15px 15px 15px;
}
.board_address img {
    display: inline-block;
    margin-right: 10px;
}
.addressCopy {
    margin-left: 15px;
    color: gray;
    font-size: 15px;
}
.board_phone {
    margin: 30px 15px 15px 15px;
}
.board_phone img{
    display: inline-block;
    margin-right: 10px;
}
.board_review {
    text-align: right;
    margin-right: 40px;
}

/*--------------------------리뷰창-------------------------*/
.wrap_review_list {
    float: left;
    display: flex;
}
.review_list {
    width: 500px;
    justify-content:left;
}
.member_profile {
    display: flex;
    align-items: center;
    margin-left: 25px;
    margin-bottom: 20px;
    width: 85%;
}
.member_profile-img {
    border: 1px solid black;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    display: inline-block;

}
.member_nickname {
    margin-left: 20px;
}
.member_date {
    margin-left: auto;
    font-size: 14px;
}
.deli_info label{
    display: flex;
    align-items: center;
}
.deli-img {
    border: 1px solid black;
    border-radius: 20px;
    margin: 0 auto;
    width: 85%;
    height: 250px;
}
.backIcon img{
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.nextIcon img{
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.deli_body {
    margin: 0 auto;
}
.deli_content {
    width: 80%;
    margin: 10px auto 5px auto;
    padding-left: 10px;
}
.deli_content a {
    color: grey;
}
.deli_tag {
    width: 80%;
    margin: 0 auto 20px auto;
}
.deli_hashtag {
    color: rgba(0, 0, 0, 0.34);
    padding: 0 0 10px 10px;
}
.deli_pin{
    display: flex;
    justify-content: space-between;
}
.deli_pin_between {
    font-size: 20px;
    color: rgba(128, 128, 128, 0.5);
}
.deli_favorite {
    margin: 0 auto;
    padding-left: 10px;
    width: 80%;
}
.deli_favorite label{
    justify-content: space-between;
    display: flex;
}

.deli_favorite img{
    cursor: pointer;
}
.deli_comment_btn {
    margin-right: 5px;
}
.borderLine {
    border: rgba(105, 105, 105, 0.5) 7px solid;
    margin: 20px 0;
}

/*---------------------------댓글창-------------------------*/

.comment_body {
    width: 80%;
    margin: 0 auto;
}
.comment_title {
    margin: 0 auto 20px auto;
    width: 80%;
    font-size: 18px;
    font-weight: 600;
}
.comment_member_profile {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 94%;
}
.comment_member_profile-img {
    border: 1px solid black;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    margin-right: 20px;
}
.comment_member_date {
    margin-left: auto;
    font-size: 14px;
}
.comment_content {
    margin-left: 10px;
    margin-bottom: 20px;
}
.hashtag {
    cursor: pointer;
}
.notReview {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
.notComment {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
.drag-disable {
    -ms-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    -moz-user-select:none;
    -webkit-touch-callout: none;
}