@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;400;500;600;700;800&family=Jua&family=Ultra&display=swap');

.detail-container {
    position: fixed;
    z-index: 99;
    top: 0;
    right: 380px;
    height: 100%;
    animation: slide-in 0.3s ease-in;
}
.detail-wrapper {
    width: 400px;
    height: 100%;
    background-color: white;
}
.modal-close {
    position: absolute;
    width: 35px;
    height: 30px;
    transform: translate(355px, 3px);
    display: flex;
    justify-content: center;
    border-radius: 6px 0 0 6px;
    cursor: pointer;
}
.modal-close span {
    font-size: 22px;
    cursor: pointer;
}
.detailList {
    overflow-y: scroll;
    height: 100%;
    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */

}
.detail_del {
    padding-top: 50px;
    margin: 0 20px;
}
.detail_image {
    border: 1px solid black;
    width: 100%;
    height: 200px;
    border-radius: 7px;
    margin-bottom: 15px;
}
.detail_image div {
    line-height: 222px;
}
.backIcon img{
    width: 25px;
    height: 45px;
    cursor: pointer;
}
.nextIcon {
    float: right;
}
.nextIcon img{
    width: 25px;
    height: 45px;
    cursor: pointer;
}
.detail_body {
    margin-left: 5px;
    font-family: "Gothic A1", sans-serif;
}
.detail_name {
    font-size: 18px;
    font-family: "Gothic A1", sans-serif;
    font-weight: 700;
}
.detail_content {
    margin-top: 3px;
    font-family: "Gothic A1", sans-serif;
    font-weight: 300;
}
.detail_reviewScore {
    display: flex;
    margin: 15px 0 10px 0;
}
.detail_reviewScore label {
    margin-left: auto;
    display: flex;
    align-items: center;
}
.detail_reviewScore img {
    width: 30px;
    height: 30px;
}
.reviewScore {
    font-weight: 600;
    margin-left: 3px;
}
.detail_phone {
    margin-top: 10px;
}
.detail_phone label {
    display: flex;
    align-items: center;
}
.detail_phone span{
    margin-left: 7px;
    font-size: 17px;
    font-weight: 400;
}
.detail_address {
    margin-top: 20px;
}
.detail_address label {
    display: flex;
    align-items: center;
}
.detail_address span{
    margin-left: 7px;
    font-size: 17px;
    font-weight: 400;
}
.copyAddress {
    cursor: pointer;
    padding-left: 10px;
}
.copyAddress:hover {
    color: rgb(248, 179, 60);
}
.review_btn {
    margin-top: 20px;
}
.review_btn label {
    display: flex;
    align-items: center;
}
.boardUpdate {
    cursor: pointer;
}
.boardUpdate:hover {
    color: rgb(248, 179, 60);
}
.reviewInsert {
    cursor: pointer;
}
.review_btn img{
    margin-left: auto;
    cursor: pointer;
}
.borderLine {
    border: rgb(165, 164, 164) 7px solid;
    margin: 40px 0;
}
.drag-disable {
    -ms-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    -moz-user-select:none;
    -webkit-touch-callout: none;
}