

.modal-mask {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 65px;
    height: 100%;
    animation: slide-in 0.6s ease-in;
    border-left: rgb(165, 164, 164) 7px solid;
}
.modal-wrapper {
    width: 380px;
    height: 100%;
    background-color: white;

}
.modal-x {
    position: absolute;
    width: 40px;
    height: 40px;
    transform: translateX(-47px);
    background-color: rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    border-radius: 6px 0 0 6px;
    cursor: pointer;
}
.modal-x:hover {
    background-color: rgb(248, 179, 60);
    color: white;

}
.modal-x span {
    font-size: 22px;
    cursor: pointer;
}
.modal-container {
    overflow-y: scroll;
    height: 100%;
    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
}

.modal-container::-webkit-scrollbar {
    display: none; /* 크롬, 사파리, 오페라, 엣지 */
}
.animated-button {
    animation: slide-out 0.6s ease-in-out;
    animation-fill-mode: both;
}
.animated-button::after {
}
.toggle-open {
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.toggle-close {
    width: 40px;
    height: 40px;
    cursor: pointer;
}
@keyframes slide-in {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}
@keyframes detailSlide-in {
    from {
        transform: translateX(-40px);
    }
    to {
        transform: translateX(-420px);
    }
}
@keyframes slide-out {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(100%);
    }
}
@keyframes all-out {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(780px);
    }
}
@keyframes all-in {
    0% {
        transform: translateX(780px);
    }
    100% {
        transform: translateX(0px);
    }
}
/*----------------------리스트--------------------------*/
.local-name {
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 20px;
    color: rgba(0, 0, 0, 0.7);

}
.board-list {
    margin: 30px auto 0 auto;
    height: 270px;
}
.board-list-body {
    margin-left: 20px;
}
.board-list-name {
    font-size: 19px;
    padding-bottom: 5px;
    padding-top: 10px;
    font-weight: 600;
}
.board-list-name span{
    cursor: pointer;
}
.board-list-business-type {
    font-size: 14px;
}
.board-list-phone {
    display: inline;
}
.board-list-review {
    display: inline;
    margin-left: 10px;
}
.board-list-hashtag {
    height: 21px;
}
.board-list-hashtag span{
    cursor: pointer;
    color: #959595;
}
.board-list-img {
    border: 1px solid black;
    width: 250px;
    height: 150px;
    margin: 10px auto 20px auto;
}
.board-list-img img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size : cover;
}
.list-line {
    width: 95%;
    margin: 30px 20px 10px 0;
    border: 0.3px solid rgba(0, 0, 0, 0.1);
}

.drag-disable {
    -ms-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    -moz-user-select:none;
    -webkit-touch-callout: none;
}

/*-------Map css--------*/
.location-myLocation {
    position: absolute;
    left: 10px;
    bottom: 50px;
    z-index: 10;
    cursor: pointer;
}
.location-infoWindow-txt {
    width: 320px;
    height: 180px;
    padding: 5px;
}

